openstack-compute-api-2/src/wadl/os-admin-actions.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:compext="http://docs.openstack.org/compute/api/v1.1">
    <grammars>
        <include href="../xsd/compext.xsd"/>
    </grammars>
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc> The ID for the tenant or account in a
                        multi-tenancy cloud. </doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc>The UUID for the server of interest
                                to you. </doc>
                        </param>
                        <resource path="action">
                            <method href="#pause"/>
                            <method href="#unpause"/>
                            <method href="#suspend"/>
                            <method href="#resume"/>
                            <method href="#migrate"/>
                            <method href="#resetNetwork"/>
                            <method href="#injectNetworkInfo"/>
                            <method href="#lock"/>
                            <method href="#unlock"/>
                            <method href="#createBackup"/>
                            <method href="#os-migrateLive"/>
                            <method href="#os-resetState"/>
                            <method href="#evacuate"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="pause">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Pause Server">
            <para>Pauses a server and changes its status to PAUSED.
                Specify the <code>pause</code> action in the request
                body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-pause.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-pause.xml"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unpause">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Unpause Server">
            <para>Unpauses a PAUSED server and changes its status to
                ACTIVE. Specify the <code>unpause</code> action in the
                request body. </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-unpause.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-unpause.xml"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="suspend">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Suspend Server">
            <para>Suspends a server and changes its status to
                SUSPENDED. Specify the <code>suspend</code> action in
                the request body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-suspend.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-suspend.xml"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Resume Server">
            <para>Resumes a SUSPENDED server and changes its status to
                ACTIVE. Specify the <code>resume</code> action in the
                request body. </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-resume.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-resume.xml"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="migrate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Migrate Server">
            <para role="shortdesc">Migrates a server to a host. The scheduler chooses
                the host. Specify the <code>migrate</code> action in
                the request body. </para>
            <para>You can complete the following types of migrations:
                <itemizedlist><listitem><para>Live migrate with block storage migration
                </para></listitem><listitem><para>Live migrate without block storage migration</para></listitem>
                    <listitem><para>Non-live migrate (this operation)</para></listitem>
                    <listitem><para>Resize</para></listitem>
                </itemizedlist></para>
            <para>Depending on your cloud provider, this operation might result in billing you for a snapshot. 
                You can delete the snapshot after you complete this operation.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-migrate.json"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resetNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Reset Networking on Server">
            <para>Resets networking on a server. Specify the
                    <code>resetNetwork</code> action in the request
                body. </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-reset-network.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-reset-network.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="injectNetworkInfo">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Inject Network Information">
            <para>Injects network information into a server. Specify
                the <code>injectNetworkInfo</code> action in the
                request body. </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-inject-network-info.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-inject-network-info.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="lock">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Lock Server">
            <para>Locks a server. Specify the <code>lock</code> action
                in the request body. </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-lock-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-lock-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unlock">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Unlock Server">
            <para>Unlocks a server. Specify the <code>unlock</code>
                action in the request body. </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-unlock-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-unlock-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="createBackup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Back up Server Instance">
            <para>Backs up a server instance. Specify the
                    <code>createBackup</code> action in the request
                body. </para>
        </wadl:doc>
        <request>
            <param name="name" style="query" required="true"
                type="xsd:string">
                <doc xml:lang="EN"> Name of the backup image. </doc>
            </param>
            <param name="backup_type" style="query" required="true"
                type="xsd:string">
                <doc xml:lang="EN"> The backup type. Either 'daily' or
                    'weekly.' </doc>
            </param>
            <param name="rotation" style="query" required="true"
                type="xsd:int">
                <doc xml:lang="EN"> An integer value that represents
                    the number of backups to maintain. </doc>
            </param>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-backup-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-backup-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="os-migrateLive">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Live-Migrate Server">
            <para role="shortdesc">Live-migrates a server to a new host without
                rebooting. Specify the <code>os-migrateLive</code>
                action in the request body. </para>
            <para>You can complete the following types of migrations:
                <itemizedlist><listitem><para>Live migrate with block storage migration (this operation)
                </para></listitem><listitem><para>Live migrate without block storage migration (this operation)</para></listitem>
                    <listitem><para>Non-live migrate</para></listitem>
                    <listitem><para>Resize</para></listitem>
                </itemizedlist></para>
            <para>Depending on your cloud provider, this operation might result in billing you for a snapshot. 
                You can delete the snapshot after you complete this operation.</para>
        </wadl:doc>
        <request>
            <param name="host" style="query" required="true"
                type="xsd:string">
                <doc xml:lang="EN">Name of the new host. </doc>
            </param>
            <param name="block_migration" style="query"
                required="true" type="xsd:boolean">
                <doc>If true, block storage is migrated. If false,
                    block storage is not migrated.</doc>
            </param>
            <param name="disk_over_commit" style="query"
                required="true" type="xsd:boolean">
                <doc>If true, disk over commit is allowed.</doc>
            </param>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-live-migrate.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-live-migrate.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="os-resetState">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Reset Server State">
            <para>Resets the state of a server to a specified state.
                Specify the <code>os-resetState</code> action in the
                request body. </para>
        </wadl:doc>
        <request>
            <param name="state" style="query" required="true"
                type="xsd:string">
                <doc xml:lang="EN">The desired state of a server.
                </doc>
            </param>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-reset-server-state.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/admin-actions-reset-server-state.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="evacuate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Evacuate Server">
            <para>Evacuates a server from failed host. Specify the
                    <code>evacuate</code> action in the request
                body.</para>
        </wadl:doc>
        <request>
            <param name="host" style="query" required="true"
                type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The name
                        or ID of the host where the server is
                        evacuated.</p>
                </doc>
            </param>
            <param name="onSharedStorage" style="query"
                type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Required
                        if server is on shared storage.</p>
                </doc>
            </param>
            <param name="adminPass" style="query" type="xsd:string">
                <doc xml:lang="EN">Not specified with onSharedStorage.
                    New admin password for the evacuated instance.
                </doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/server-evacuate-req.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/server-evacuate-req.xml"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/server-evacuate-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../samples/server-evacuate-resp.xml"/>
                </doc>
            </representation>
        </response>
    </method>
</application>
